.graph-parent {
  user-select: none;
}

.graph-parent g {
  will-change: transform;
}

/* .graph-parent g:hover {
    cursor: help;
} */

#processingGroup {
  pointer-events: all;
}

#processingGroup path:hover {
  cursor: help;
}

#information, #sinksSources {
    pointer-events: none;
}

.graph-parent svg:hover {
  cursor: move;
}
