.graph-parent {
  user-select: none;
}

.graph-parent svg {
  will-change: transform;
  transform-origin: top left;
  height: 100%;
}

#processingGroup path:hover {
  cursor: help;
}

#information,
#sinksSources {
  pointer-events: none;
}

.graph-parent:hover {
  cursor: move;
}

.freeFormLine {
  @apply from-transparent from-50% to-indigo-500 to-50%;
}

.freeFormLineH {
  @apply bg-gradient-to-r bg-[length:1%_100%];
}

.freeFormLineV {
  @apply bg-gradient-to-b bg-[length:100%_1%];
}
