.graph-parent {
  user-select: none;
}

.graph-parent svg {
  will-change: transform;
  transform-origin: top left;
  height: 100%;
  max-width: 100%;
}

#processingGroup path:hover {
  cursor: help;
}

#information,
#sinksSources {
  pointer-events: none;
}

.graph-parent:hover {
  cursor: move;
}